<!DOCTYPE html>

<html>
<head>
    <title>e-learning</title>
    <link rel="shortcut icon" href="resources/img/favicon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="build/style.css">
</head>

<body ng-app="userApp" ng-controller="MainController" ng-cloak>
<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-paper-plane" viewBox="0 0 1024.9532529115677 1024">
            <title>paper-plane</title>
            <path class="path1"
                  d="M1008 6.286q18.857 13.714 15.429 36.571l-146.286 877.714q-2.857 16.571-18.286 25.714-8 4.571-17.714 4.571-6.286 0-13.714-2.857l-258.857-105.714-138.286 168.571q-10.286 13.143-28 13.143-7.429 0-12.571-2.286-10.857-4-17.429-13.429t-6.571-20.857v-199.429l493.714-605.143-610.857 528.571-225.714-92.571q-21.143-8-22.857-31.429-1.143-22.857 18.286-33.714l950.857-548.571q8.571-5.143 18.286-5.143 11.429 0 20.571 6.286z"></path>
        </symbol>
    </defs>
</svg>
<header>
    <div class="logo">
        <img class="logo-img" src="resources/img/owl.png">

        <h1 class="logo-text">e-learning</h1>
    </div>

    <div class="top">
        <h2></h2>
        <ul>
            <li><img src="resources/img/not.png"><a href="#notifications">Notificari</a></li>
            <li><img ng-hide="user.Gender" src="resources/img/boy.png"><img ng-show="user.Gender"
                                                                            src="resources/img/girl.png"><a href="">{{user.First_name}}
                {{user.Last_name}}</a>
                <ul>
                    <li><a ng-href='#profile'>Profil</a></li>
                    <li><a href="login.html" ng-click="logout()">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<nav class="sidebar">
    <ul class="links" id="links">
        <li><a ng-href='#courses'><img src="resources/img/curs.png"><span>Cursuri</span></a></li>
        <li><a href='calendar.html'><img src="resources/img/calendar.png"><span>Calendar</span></a></li>
        <li><a href='#tests'><img src="resources/img/teste.png"><span>Teste</span></a></li>
        <li><a href='#homework'><img src="resources/img/teme.png"><span>Teme</span></a></li>
        <li><a href='#forum'><img src="resources/img/discutii.png"><span>Forum</span></a></li>
        <li><a href='#messages'><img src="resources/img/mesaje.png"><span>Mesaje</span></a></li>
        <li><a href='#group'><img src="resources/img/grupa.png"><span>Grupa</span></a></li>
        <li><a href='#grades'><img src="resources/img/note.png"><span>Note</span></a></li>
        <li><a href='#help'><img src="resources/img/help.png"><span>Help</span></a></li>
    </ul>

    <div class="minimize-button" id="button">
        <a> <img src="resources/img/min.png" id="min-button">
            <img src="resources/img/max.png" id="max-button"> </a>
    </div>

</nav>

<div class="main">
    <ng-view></ng-view>
</div>

<script src="resources/js/plugins/angular.js"></script>
<script src="resources/js/plugins/angular-route.js"></script>
<script src="resources/js/plugins/angular-storage.js"></script>
<script src="resources/js/plugins/angular-sanitize.js"></script>

<script src="resources/js/plugins/jquery.js"></script>
<script src="resources/js/plugins/jquery.slimscroll.min.js"></script>

<script src="resources/js/plugins/fullcalendar.min.js"></script>
<script src="resources/js/plugins/moment.min.js"></script>
<script src="resources/js/plugins/ro.js"></script>

<script src="resources/js/plugins/bootstrap.js"></script>
<script src="resources/js/plugins/scrollglue.js"></script>
<script src="resources/js/plugins/trumbowyg.min.js"></script>

<script src="resources/js/main.js"></script>
<script src="build/angular-app.js"></script>
</body>
</html>


