.logo {
  width: 15%;
  float: left;
  height: 70px;
  background: #22866c;
  text-align: center;
  position: relative;
  z-index: 99;
  line-height: 1.9em;
}

.logo-img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border: 1px solid #87d199;
  border-radius: 50%;
  background: #87d199;
  padding: 2px;
}

.logo-text {
  padding-left: 5px;
  display: inline-block;
  font-size: 1.3em;
  font-weight: normal;
  color: #a1f4b3;
}