.login {
  background: linear-gradient(90deg, #196a5c 10%, #72b783 90%);
}

.login .main {
  width: 100%;
  margin: 0;
}

.login header {
  visibility: hidden;
}

.login .sidebar div, .login .sidebar ul {
  visibility: hidden;
}

.login-background {

  background: linear-gradient(90deg, #196a5c 10%, #72b783 90%);
  color: #F5F5F5;
}

.login-wrapper {
  padding: 10px 20px;
  border: 1px solid #8ed4ed;
  border-radius: 2px;
  width: 20em;
  position: relative;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.login-input {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.login-input p {
  margin: 0;
}

.login-input span {
  margin: 0;
  font-size: 15px;
}

.login-input hr {
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 0 0 15px;
}

.login-input input {
  padding: 0;
  font-size: 1em;
  border-radius: 2px;
  width: 100%;
  height: 2em;
  background: transparent;
  border: none;
  color: #b5f3e6;
  margin: 10px 0;
}

.login-img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid #8ed4ed;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background: #8ed4ed;
}

.info-password {
  margin: 10px 0;
  position: relative;
  width: 100%;
  font-size: .8em;
  text-align: right;
  text-decoration: none;
  color: #9ed4c7;
  display: block;
}

.info-password:hover {
  text-decoration: underline;
  color: #b5f3e6;
}

.login-button {
  text-align: center;
  margin: 1em 0;
  background: #14a6db;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}

.login-button img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.login-button a {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #F5F5F5;
  display: block;
  height: 100%;

}

.login-button a:hover {
  background: #1fb5cf;
}