.main {
    overflow: auto;
    width: 85%;
    float: right;
    position: relative;
    margin: 70px 0 0;
}

@media (max-width: 1200px) {
    .logo, .sidebar {
        width: 6%;
        overflow: hidden;
        position: absolute;
    }

    .top, .main {
        width: 94%;
    }

    .links span {
        display: none;
    }

    h1 {
        visibility: hidden;
    }
}

