.search-users{
  border: 1px solid turquoise;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.search-users input, .search-users select{
  height: 25px;
  width: 200px;
  margin: 0 10px;
}

.search-users button{
  padding: 2px 10px;
  font-size: 16px;
}

.users-table{
  margin: 30px 0;
}

.users-table th{
 cursor: pointer;
}