.messages-conversations {
  width: 200px;
}

.messages-conversations ul {
  list-style-type: none;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: auto;
  padding: 10px;
  margin: 0;
  color: #4b4b4b;
  border: 1px solid #00d6b2;
  border-radius: 5px;
}

.messages-conversations li {
  padding: 10px 10px;
}

.messages-conversations li a {
  color: #323E3E;
}

.messages-conversations li a:hover {
  text-decoration: none;
  color: #00d6b2;
}

.messages-conversations .add-conversation-button {
  width: 100%;
}

.conversation-search {
  width: 100%;
}

.conversation-users {
  font-size: .8em;
}

.conversation-button {
  display: block;
  margin: 10px 0;
  width: 100%;
}

.chatSection {
  position: relative;
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
  height: 550px;
}

.chatMessages {
  list-style-type: none;
  position: relative;
  height: 450px;
  overflow: auto;
  width: 100%;
}

.chatSection .user-left {
  display: block;
  margin: 20px 10px;
  position: relative;
}

.chatSection .user-right {
  margin: 20px 10px;
  text-align: right;
}

.chatSection .message {
  display: inline-block;
  border-radius: 2px;
  padding: 7px 10px 0;
  margin-bottom: 0;
  max-width: 500px;
  word-wrap: break-word;
}
.chatSection .message p{
  margin: 0;
}
.chatSection .user-left .message {
  border-radius: 0px 5px 5px;
  background-color: #a4f3e1;
}

.chatSection .user-right .message {
  border-radius: 5px 0 5px 5px;
  background-color: #c9f3e6;
}

.send-message{
  margin-top:20px;
}

.send-message textarea {
  padding:0;
  width: 100%;
  height: 50px;
}
.send-message button{
  height: 50px;
  position:relative;
  top:50%;
}


.chat-content {
  position: relative;
  display: block;
  //margin: 20px;
  background: #fff;
  padding: 0;
  max-height: 550px;
}

.message-date {
  font-size: .65em;
  opacity: .5;
}

.send-button {
  border-color: #fff;
}

.arrow-up-left {
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #A4F3E1;
  margin-left:10px;
}
.arrow-up-right {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #A4F3E1;
  position: fixed;
  right:0;
  bottom:8px;
}