<!DOCTYPE html>

<html>
<head>
    <title>Management Utilizatori</title>
    <link rel="shortcut icon" href="resources/img/favicon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="build/style.css">
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/module.js"></script>
</head>

<body>
<header>
    <div class="logo">
        <img class="logo-img" src="resources/img/owl.png">

        <h1 class="logo-text"> e-learning</h1>
    </div>

    <div class="top">
        <h2>Management Utilizatori</h2>
        <ul>
            <li><img src="resources/img/girl.png"><a href="">Admin</a>
                <ul>
                    <li><a href="login.html">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<nav class="sidebar">
    <ul class="links" id="links">
        <li><a href="management.html"><img src="resources/img/grupa.png"><span>Utilizatori</span></a></li>
        <li><a href="logs.html"><img src="resources/img/curs.png"><span>Log-uri</span></a></li>
    </ul>

    <div class="minimize-button" id="button">
        <a> <img src="resources/img/min.png" id="min-button">
            <img src="resources/img/max.png" id="max-button"> </a>
    </div>
</nav>

<div class="main">
    <div class="content" id="app">
        <div class="search-users">
            <label>Cauta:
                <select>
                    <option>Toti</option>
                    <option>Grupa</option>
                    <option>Tip</option>
                    <option>Username</option>
                </select>

            <input type="text">
            <button class="btn btn-default">OK</button>
            </label>
        </div>
        <table class="users-table table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Email</th>
                <th>Grupa</th>
                <th>Suspendat</th>
                <th>Blocat</th>
                <th>Parola</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td>{{user.Username}}</td>
                <td>{{user.Last_name}}</td>
                <td>{{user.First_name}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.Group.Name}}</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td>
                    <button class="btn btn-default">reseteaza</button>
                </td>
            </tr>

            </tbody>
        </table>
        <a href="adauga-utilizaor.html">
            <button class="center-button btn btn-default">Adauga utilizator</button>
        </a>

    </div>
</div>
<script src="resources/js/plugins/jquery.js"></script>
<script src="resources/js/plugins/vue.js"></script>
<script src="resources/js/plugins/vue-resource.js"></script>
<script src="resources/js/plugins/trumbowyg.min.js"></script>
<script src="resources/js/plugins/fullcalendar.min.js"></script>
<script src="resources/js/main.js"></script>
</body>
</html>
