<div class="content">
    <h3>{{course.Name}}</h3>

    <p ng-show></p>
    <div class="meniu-modul">
        <ul>
            <li><a ng-click="courseModule()">Module</a></li>
            <li><a class="meniu-underline">Discutii</a></li>
            <li><a ng-click="courseAnnouncements()">Anunturi</a></li>
            <li><a href="" ng-show="professor" ng-click="courseStudents()">Studenti</a></li>
        </ul>
        <hr>
    </div>
    <p ng-show="!discussions[0]">Nu exista discutii pentru acest curs</p>
    <ul class="unordered-list">
        <li ng-repeat="discussion in discussions">
            <a href="" ng-click="selectedDiscussion($index)">{{discussion.Subject}}</a>
            <p>{{discussion.Description}}</p>
        </li>
    </ul>

    <a>
        <button type="button" class="center-button btn btn-default" data-toggle="modal"
                data-target="#addDiscussionModal">Adauga discutie
        </button>
    </a>

    <div id="addDiscussionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga discutie</h4>
                </div>
                <div class="modal-body">
                    <label>Subiect: </label>
                    <input type="text" class="form-control" ng-model="discussion.Subject">

                    <label>Descriere:</label>
                    <input type="text" class="form-control" ng-model="discussion.Description">

                    <button class="btn btn-default center-button" ng-click="addDiscussion()" data-dismiss="modal">Adauga discutie</button>
                </div>
            </div>

        </div>
    </div>
</div>
