<div class="content">
    <h3>Cursurile mele</h3>
    <ul class="content-list unordered-list">
        <li ng-repeat="course in courses" class="list-element">
            <a class="course-name" ng-click="selectedCourse($index)">{{course.Name}}</a>
            <div class="row">
                <div class="col-md-3">
                    <p class="course-info">Prof. {{course.Profesor}}</p>
                    <p class="course-info">Departamentul {{course.Department}}</p>
                    <span class="course-info" ng-bind="course.Start_date | date:'dd/MM/yyyy'"></span> -
                    <span class="course-info" ng-bind="course.End_date | date:'dd/MM/yyyy'"></span>
                </div>
                <div class="col-md-9">
                    <p>{{course.Description}}</p>
                </div>
            </div>



        </li>
    </ul>

    <button ng-hide="user.group_id" type="button" class="center-button btn btn-default" data-toggle="modal"
            data-target="#addCourseModal">Adauga curs
    </button>


    <a ng-href="#all-courses">
        <button ng-show="user.group_id" type="button" class="center-button btn btn-default">Inscrie-te la cursuri
        </button>
    </a>

    <div id="addCourseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga curs</h4>
                </div>
                <div class="modal-body">
                    <label>Nume curs:
                        <input class="form-control" type="text" ng-model="course.Name">
                    </label>
                    <label>Descriere:
                        <input class="form-control" type="text" ng-model="course.Description">
                    </label>
                    <label>Data inceput:
                        <input class="form-control" type="text" ng-model="course.Start_date" placeholder="an-luna-zi ora:minute">
                    </label>
                    <label>Data final:
                        <input class="form-control" type="text" ng-model="course.End_date" placeholder="an-luna-zi ora:minute">
                    </label>
                    <label>Departament:
                        <input class="form-control" type="text" ng-model="course.Department">
                    </label>
                    <label>Ponderi:
                        <ul>
                            <li>teste   <input class="form-control form-control-inline" type="text" ng-model="course.PondereTests"
                                       placeholder="0.5"></li>
                            <li>teme    <input class="form-control form-control-inline" type="text" ng-model="course.PondereHomeworks"
                                        placeholder="0.3"></li>
                            <li>discutii <input class="form-control form-control-inline" type="text" ng-model="course.PondereDiscussions"
                                       placeholder="0.2"></li>
                        </ul>
                    </label>
                    <button class="btn btn-default center-button" ng-click="addCourse()" data-dismiss="modal">Adauga
                        curs
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>