<div class="content container-fluid">
    <label>Titlu pagina:
        <input type="text" class="form-control" ng-model="page.Title">
    </label>

    <br>
    <label>Continut:</label>

    <div class="text-editor" text-editor></div>

    <input type="file" class="form-control">
    <button type="button" class="my-button btn btn-default" ng-click="editPage()">Editeaza</button>
</div>