<div class="content">
    <div class="page-title">
        <h3>Editeaza test</h3>
    </div>

    <label>Nume:
        <input class="form-control" type="text" ng-model="test.Name">
    </label>
    <br>
    <label>Descriere:
        <input class="form-control" type="text" ng-model="test.Description">
    </label>
    <br>
    <label>Pana la:
        <input class="form-control" type="text" ng-model="test.Due_date" placeholder="an-luna-zi ora:minute">
    </label>
    <br>
    <label>Pondere (intre 0 si 1):
        <input class="form-control" type="text" ng-model="test.Pondere" placeholder="ex. 0.5">
    </label>
    <br>
    <p>Intrebari:</p>
    <ol>
        <li ng-repeat="q in questions track by $index">
            <p>Descriere intrebare: {{q.Description}}</p>
            <p>Pondere: {{q.Pondere}}</p>
            <label>Vaiante de raspuns:
                <ul class="unordered-list">
                    <li ng-repeat="answer in q.Answers">
                        <input type="checkbox" ng-model="answer.Correct" disabled>
                        <span>{{answer.Description}}</span>
                    </li>
                </ul>
            </label>
        </li>
    </ol>

    <button type="button" class="my-button btn btn-default" data-toggle="modal"
            data-target="#addQuestionModal" ng-click="newQuestion()">Adauga intrebare
    </button>


    <div id="addQuestionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga intrebare</h4>
                </div>
                <div class="modal-body">
                    <p>Descriere intrebare: </p>
                    <input type="text" ng-model="question.Description">
                    <br>

                    <p>Pondere:</p>
                    <input type="text" placeholder="ex. 0.5" ng-model="question.Pondere">
                    <br>
                    <br>
                    <p>Variante de raspuns (bifati daca raspunsul este corect)</p>

                    <ul class="unordered-list" id="choicesList">
                        <li ng-repeat="c in question.choices track by $index">
                            <input type="checkbox" ng-model="c.Correct" ng-true-value="True" ng-false-value="False">
                            {{c.Description}}
                        </li>
                    </ul>

                    <input type="checkbox" ng-model="choice.Correct" ng-true-value="True" ng-false-value="False">
                    <input type="text" ng-model="choice.Description">
                    <button class="btn btn-default my-button" ng-click="addChoice()">+</button>

                    <button class="btn btn-default center-button" ng-click="addQuestion()" data-dismiss="modal">Adauga
                        intrebare
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-default center-button" ng-click="editTest()">Editeaza test</button>
</div>