<div class="content container-fluid">
    <h3>Adauga Modul</h3>
    <label>Nume modul:
        <input type="text" class="form-control" ng-model="module.Name">
    </label>
    <br>
    <label>Descriere:
        <input type="text" class="form-control"  ng-model="module.Description">
    </label>
    <br>
    <label>Continut:</label>

    <div class="text-editor" text-editor></div>

    <input type="file" class="form-control">
    <button type="button" class="my-button btn btn-default" ng-click="editModule()">Editeaza</button>
</div>