<div class="content">
    <div ng-show="!professor">
        <div class="page-title">
            <h3>Mediile generale</h3>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Curs</th>
                <th>Medie</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="grade in grades">
                <td><a ng-click="courseGradesPage($index)">{{grade.Name}}</a></td>
                <td> <span class="small-grade" ng-show="grade.Value < 5">{{grade.Value}}</span>
                    <span ng-show="grade.Value >= 5">{{grade.Value}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="professor">
        <h3>Note pentru cursurile mele</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Curs</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in courses">
                <td><a ng-click="profGradesPage($index)">{{course.Name}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>