<div class="content">
    <h3>Corecteaza teme</h3>
    <p ng-show="!submitted_homework[0]">Nu ati primit rezolvari la aceasta tema</p>
    <ul class="unordered-list">
        <li ng-repeat="homework in submitted_homework">
            <hr>
            <p>Student: <a>{{homework.Username}}</a></p>

            <div ng-show="!homework.Grade" ng-bind-html="homework.Answer"></div>

            <p ng-show="homework.Grade">Nota: {{homework.Grade}}</p>
            <div ng-show="!homework.Grade">
                <input type="text" placeholder="nota" ng-model="grade.Value">
                <button class="btn btn-default" ng-click="gradeHomework($index)">Noteaza</button>
            </div>

        </li>
    </ul>
</div>