<div class="content">
    <h3>Grupa {{group.Name}}</h3>

    <div class="meniu-modul">
        <ul>
            <li><a ng-href="#group">Studenti</a></li>
            <li><a ng-href="#group/pages">Pagini</a></li>
            <li><a href="" class="meniu-underline" ng-click="groupAnnouncements()">Anunturi</a></li>
        </ul>
    </div>

    <div ng-hide="announcements[0]">
        <hr>
        <p>Nu exista anunturi pentru grupa ta</p>
    </div>
    <ul class="unordered-list">
        <li ng-repeat="announcement in announcements">
            <hr>
            <a>{{announcement.Title}}</a>

            <p>{{announcement.Message}}</p>

        </li>
    </ul>
    <button type="button" class="center-button btn btn-default" data-toggle="modal"
            data-target="#addAnnouncementModal">Adauga anunt
    </button>


    <div id="addAnnouncementModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga anunt</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Titlu:</label>
                        <input id="title" class="form-control" type="text" ng-model="announcement.Title">
                    </div>

                    <div class="form-group">
                        <label for="message">Mesaj:</label>
                        <textarea class="form-control" id="message" ng-model="announcement.Message"></textarea>
                    </div>

                    <a ng-click="addAnnouncement()">
                        <button class="my-button btn btn-default" data-dismiss="modal">Adauga anunt</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>