<div class="content">
    <h3>Grupa {{group.Name}}</h3>
    <div class="meniu-modul">
        <ul>
            <li><a ng-href="#group">Studenti</a></li>
            <li><a href="" class="meniu-underline" ng-click="groupPages()">Pagini</a></li>
            <li><a ng-href="#group/announcements">Anunturi</a></li>
        </ul>
        <hr>
    </div>

    <ol>
        <li ng-repeat="page in pages">
            <a ng-click="selectedPage($index)">{{page.Title}}</a>
        </li>
    </ol>

    <a ng-href="#add-page">
        <button class="center-button btn btn-default">Adauga pagina</button>
    </a>
</div>