<div class="content" ng-show="groupId">
    <h3>Grupa {{group.Name}}</h3>

    <div class="meniu-modul">
        <ul>
            <li><a href="" class="meniu-underline" ng-click="groupStudents()">Studenti</a></li>
            <li><a ng-href="#group/pages">Pagini</a></li>
            <li><a ng-href="#group/announcements">Anunturi</a></li>
        </ul>
        <hr>
    </div>

    <ol>
        <li ng-repeat="user in users">
            <a ng-click="seeUserProfile($index)">{{user.First_name}} {{user.Last_name}}</a>
        </li>
    </ol>
</div>

<div class="content" ng-show="!groupId">
<p>Nu faceti parte din nicio grupa.</p>
</div>