<div class="content">
    <div class="page-title">
        <h3>{{homework.Name}}</h3>
        <h4>{{homework.Course}} - <span>Modul {{homework.Module}}</span></h4>
    </div>
    <hr>
    <p>Cerinta: {{homework.Description}} </p>

    <p>Pondere: {{homework.Pondere}} </p>

    <p>Trebuie trimisa pana la data: <span ng-bind="homework.End_date | date:'dd/MM/yyyy HH:mm'"></span></p>

    <div ng-hide="professor">
        <div ng-hide="completed">
            <div class="text-editor" text-editor></div>
            <input type="file" class="form-control">
            <button type="button" class="my-button btn btn-default" ng-click="submitHomework()">Trimite tema</button>
        </div>
        <div ng-show="completed">Tema trimisa: <br>
            <div ng-bind-html="answer.Answer"></div>
        </div>
    </div>

    <div ng-show="professor">
        <button class="btn btn-default my-button" ng-click="editHomeworkPath()">Editeaza tema</button>
        <button class="btn btn-default my-button" ng-click="gradeHomeworkPath()">Corecteaza teme</button>

        <br>


    </div>

</div>