<div class="content">
    <div class="page-title">
        <h3>Temele mele</h3>
    </div>

    <ol class="content-list">
        <li ng-repeat="homework in homeworks">
            <a ng-click="selectedHomework($index)">{{homework.Name}}</a>
            <p>{{homework.Description}}</p>
        </li>
    </ol>
</div>