<div class="login-wrapper">
    <img class="login-img" src="resources/img/owl.png">

    <div class="login-input">
        <label for="login-input">Username</label>
        <input id="login-input" type="text" placeholder="username" ng-model="username">
        <hr>
        <label for="login-password">Password</label>
        <input id="login-password" ng-enter="login()" type="password" placeholder="password" ng-model="password">
        <hr>
    </div>
    <div class="login-button ">
        <div class="spinner" ng-show="loading">
            <img src="resources/img/loading.gif">
        </div>
        <a href="" ng-hide="loading" ng-click="login()">LOGIN</a>
    </div>
    <a class="info-password" ng-href="#reset-password">Forgot password?</a>

</div>