<div class="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th >Username</th>
            <th >Data login</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="log in logs">
            <td>{{log.User.Username}}</td>
            <td><span ng-bind="log.Date | date:'dd/MM/yyyy HH:mm'"></span></td>

        </tr>

        </tbody>
    </table>
</div>