<div class="content chat-content ">
    <div class="row">
        <div class="col-md-9">
            <div class="chatSection">
                <ul class="chatMessages" scroll-glue>
                    <li ng-repeat="message in messages">
                        <div class="user-left" ng-hide="isMe(message.Username)">
                            <div class="message-user-info">

                                <div class="message-user-name">
                                    <span>{{message.Username}} </span>

                                </div>
                            </div>
                            <div class="arrow-up-left"></div>
                            <div class="message">
                                <p>{{message.Text}}</p>
                                <span class="message-date" ng-bind="message.Date | date:'dd/MM/yy HH:mm'"></span>
                            </div>
                        </div>
                        <div class="user-right" ng-show="isMe(message.Username)">
                            <div class="message-user-info">

                                <div class="message-user-name">
                                    <span>{{message.Username}} </span>

                                </div>
                            </div>
                            <div class="arrow-up-right"></div>
                            <div class="message">
                                <p>{{message.Text}}</p>
                                <span class="message-date" ng-bind="message.Date | date:'dd/MM/yy HH:mm'"></span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="row send-message">
                    <div class="col-md-5 col-md-offset-3 no-padding">
                    <textarea class="form-control" ng-model="message.Text"
                              ng-enter="sendMessage()"></textarea>
                    </div>
                    <div class="col-md-1 no-padding">
                        <button class="btn btn-default icon-button" ng-click="sendMessage()">
                            <svg class="icon icon-paperplane">
                                <use xlink:href="#icon-paper-plane"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <nav class="messages-conversations">

                <input class="form-control conversation-search" ng-model="conversation.Name_search"
                       ng-keyup="findConversation()" type="text" placeholder="search...">

                <button type="button" class="btn btn-default my-button add-conversation-button" data-toggle="modal"
                        data-target="#addConversationModal">Add conversation
                </button>

                <ul slim-scroll>
                    <li ng-repeat="conv in conversations">
                        <a ng-click="selectedConversation($index)">
                            <span ng-hide="isCurrent($index)">{{conv.Name}}<br></span>
                            <strong ng-show="isCurrent($index)">{{conv.Name}}<br></strong>
                        </a>
                        <span class="conversation-users" ng-repeat="user in conv.Users">{{user.Name}} </span>
                    </li>
                </ul>

                <button type="button" class="btn btn-default  conversation-button"
                        data-toggle="modal"
                        data-target="#addUserToConversationModal">Adauga user
                </button>
                <button type="button" class="btn btn-default conversation-button"
                        data-toggle="modal"
                        data-target="#changeConversationNameModal">Modifica numele
                </button>
                <button type="button" class="btn btn-default  conversation-button"
                        ng-click="deleteConversation()">Sterge conversatia
                </button>


                <div id="addConversationModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Adauga conversatie</h4>
                            </div>
                            <div class="modal-body">
                                <label for="new-conv-user">User</label>
                                <select id="new-conv-user" class="form-control" ng-model="conversation.user">
                                    <option ng-repeat="user in users" value="{{$index}}">{{user.Username}}</option>
                                </select>
                                <label for="new-conv-name">Denumire:</label>
                                <input id="new-conv-name" class="form-control" type="text" ng-model="conversation.Name" placeholder="denumire">
                                <button ng-click="addConversation()" data-dismiss="modal"
                                        class="btn btn-default center-button">Adauga
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="changeConversationNameModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modifica numele conversatiei</h4>
                            </div>
                            <div class="modal-body">
                                <label for="conv-name">Denumire conversatie:</label>
                                <input id="conv-name" class="form-control" type="text" ng-model="conversation.Name"
                                       placeholder="denumire noua">
                                <button class="btn btn-default my-button" data-dismiss="modal"
                                        ng-click="changeConversationName()">Schimba numele
                                </button>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="addUserToConversationModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Adauga user</h4>
                            </div>
                            <div class="modal-body">
                                <label for="conv-user">Username</label>
                                <select id="conv-user" class="form-control"  ng-model="conversation.user">
                                    <option ng-repeat="user in users" value="{{$index}}">{{user.Username}}</option>
                                </select>
                                <button class="btn btn-default center-button" data-dismiss="modal"
                                        ng-click="addUserToConversation()">Adauga
                                </button>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </nav>


        </div>
    </div>
</div>