<div class="content">
    <h3>Permisiuni pe cursuri</h3>

    <ol class="content-list">
        <li class="list-element" ng-repeat="permission in permissions">
            <a ng-click="selectedCourse($index)">{{permission.Name}}</a>
            <ul>
                <li ng-repeat="permission in permission.Permissions">
                    {{permission.Username}}
                    {{permission.Role}}
                </li>
            </ul>
        </li>
    </ol>

    <button type="button" class="center-button btn btn-default" data-toggle="modal" data-target="#addPermissionModal">
        Adauga permisiune
    </button>


    <div id="addPermissionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adauga permisiune</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label>Curs:
                            <select class="form-control" ng-model="permission.course_id">
                                <option ng-repeat="course in courses" value="{{course.Id}}">{{course.Name}}</option>
                            </select>
                        </label>
                        <br>
                        <label>Username:
                            <select class="form-control" ng-model="permission.user_id">
                                <option ng-repeat="user in users" value="{{user.Id}}">{{user.Username}}</option>
                            </select>
                        </label>
                        <br>
                        <label>Rol:
                            <select class="form-control" ng-model="permission.Role">
                                <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                            </select>

                        </label>
                        <br>
                        <button type="button" class="center-button btn btn-default" ng-click="addPermission()" data-dismiss="modal">Adauga
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>