<div class="content">
    <h3>Profilul meu</h3>

    <table class="users-table table table-striped">
        <tbody>
        <tr>
            <td>Nume</td>
            <td>{{user.First_name}} {{user.Last_name}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{user.Username}}</td>
        </tr>

        <tr>
            <td>Email</td>
            <td>{{user.Email}}</td>
        </tr>
        <tr>
            <td>Parola</td>
            <td>
                <button class="btn btn-default"
                        data-toggle="modal"
                        data-target="#resetPasswordModal">Reseteaza
                </button>
            </td>
        </tr>
        <tr>
            <td>Numar matricol</td>
            <td>{{user.Registration_number}}</td>
        </tr>
        <tr>
            <td>Grupa</td>
            <td>{{user.group_name}}</td>
        </tr>
        <tr>
            <td>Gen</td>
            <td><span ng-show="user.Gender">F</span>
                <span ng-hide="user.Gender">M</span></td>
        </tr>
        </tbody>
    </table>

    <div id="resetPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reseteaza parola</h4>
                </div>
                <div class="modal-body">
                    <p>Parola veche: </p>
                    <input type="password" ng-model="oldPassword">

                    <p>Parola noua: </p>
                    <input type="password" ng-model="newPassword">

                    <p>Rescrie parola noua: </p>
                    <input type="password" ng-model="renewPassword">
                    <br>
                    <br>
                    <button class="btn btn-default" ng-click="resetPassword()">Salveaza</button>
                    <button class="btn btn-default" data-dismiss="modal">Inchide</button>

                </div>
            </div>

        </div>
    </div>

</div>