<div class="content">
    <div class="page-title">
        <h3>{{test.Name}}</h3>
    </div>

    <p>{{questionNr}}. {{question.Description}} ({{question.Pondere}} puncte)</p>

    <ul class="unordered-list">
        <li ng-repeat="choice in choices">
            <input type="checkbox"  ng-model="choice.SELECTED"  ng-true-value="Y" ng-false-value="N"> {{choice.Description}}
            <br>
        </li>
    </ul>


    <button ng-hide="endTest" class="btn btn-default my-button" ng-click="nextQuestion(choices)">Next</button>
    <button ng-show="endTest" class="btn btn-default my-button" ng-click="finishTest(choices)">Finish test</button>

</div>