<div class="content">
    <div class="page-title">
        <h3>{{test.Name}}</h3>
        <h4>{{test.Course}} - <span>Modul {{test.Module}}</span></h4>
    </div>
    Descriere: {{test.Description}} <br>
    Pana la: <span ng-bind="test.Due_date | date:'dd/MM/yyyy HH:mm'"></span> <br>
    Pondere: {{test.Pondere}}</p>

    <div ng-cloak ng-hide="professor">
        <button ng-hide="completed" class="btn btn-default my-button" ng-click="startTest()">Start
            test
        </button>
        <h4 ng-show="completed">
            Nota la acest test este <strong>{{grade}}</strong>
        </h4>
    </div>

    <div ng-cloak ng-show="professor">

        <p>Intrebari:</p>
        <ol>
            <li ng-repeat="question in questions">
                <p>Descriere: {{question.Description}}<br>
                    Pondere:{{question.Pondere}}</p>
                <label>Variante de raspuns:
                    <ul class="unordered-list">
                        <li ng-repeat="answer in question.Answers">
                            <input type="checkbox" ng-model="answer.Correct" disabled>
                            <span>{{answer.Description}}</span>
                        </li>
                    </ul>
                </label>
            </li>
        </ol>
        <button class="btn btn-default my-button" ng-click="editTestPath()">Editeaza test</button>
    </div>
</div>