<div class="content">
    <table class="users-table table table-striped">
        <tbody>
        <tr>
            <td>Nume</td>
            <td>{{user.First_name}} {{user.Last_name}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{user.Username}}</td>
        </tr>

        <tr>
            <td>Email</td>
            <td>{{user.Email}}</td>
        </tr>
        <tr>
            <td>Numar matricol</td>
            <td>{{user.Registration_number}}</td>
        </tr>
        <tr>
            <td>Grupa</td>
            <td>{{user.group_name}}</td>
        </tr>
        <tr>
            <td>Gen</td>
            <td><span ng-show="user.Gender">F</span>
                <span ng-hide="user.Gender">M</span></td>
        </tr>
        </tbody>
    </table>

</div>