/**
 * Trumbowyg v2.0.0-beta.5 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

$attachement-white-2x: 0px -50px;
$barre-white-2x: 0px -600px;
$bold-white-2x: 0px -100px;
$center-align-white-2x: 0px -150px;
$close-white-2x: 0px -200px;
$formatting-white-2x: 0px -250px;
$fullscreen-exit-white-2x: 0px -300px;
$fullscreen-white-2x: 0px -350px;
$gras-white-2x: 0px -400px;
$horizontal-rule-white-2x: 0px -450px;
$image-white-2x: 0px -500px;
$italic-white-2x: 0px -550px;
$justify-align-white-2x: 0px 0px;
$left-align-white-2x: 0px -650px;
$link-white-2x: 0px -700px;
$ordered-list-white-2x: 0px -750px;
$removeformat-white-2x: 0px -800px;
$right-align-white-2x: 0px -850px;
$souligne-white-2x: 0px -900px;
$strikethrough-white-2x: 0px -950px;
$underline-white-2x: 0px -1000px;
$unordered-list-white-2x: 0px -1050px;
$video-white-2x: 0px -1100px;
$view-html-white-2x: 0px -1150px;


$sprite-height-white-2x: 1200px;
$sprite-width-white-2x: 50px;
$icons-white-2x: "img/icons-white-2x.png";