/**
 * Trumbowyg v2.0.0-beta.5 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

$attachement-black-2x: 0px -50px;
$barre-black-2x: 0px -600px;
$bold-black-2x: 0px -100px;
$center-align-black-2x: 0px -150px;
$close-black-2x: 0px -200px;
$formatting-black-2x: 0px -250px;
$fullscreen-exit-black-2x: 0px -300px;
$fullscreen-black-2x: 0px -350px;
$gras-black-2x: 0px -400px;
$horizontal-rule-black-2x: 0px -450px;
$image-black-2x: 0px -500px;
$italic-black-2x: 0px -550px;
$justify-align-black-2x: 0px 0px;
$left-align-black-2x: 0px -650px;
$link-black-2x: 0px -700px;
$ordered-list-black-2x: 0px -750px;
$removeformat-black-2x: 0px -800px;
$right-align-black-2x: 0px -850px;
$souligne-black-2x: 0px -900px;
$strikethrough-black-2x: 0px -950px;
$underline-black-2x: 0px -1000px;
$unordered-list-black-2x: 0px -1050px;
$video-black-2x: 0px -1100px;
$view-html-black-2x: 0px -1150px;


$sprite-height-black-2x: 1200px;
$sprite-width-black-2x: 50px;
$icons-black-2x: "img/icons-black-2x.png";